{
    "extends": "casumo/configurations/es6-browser",
    "rules": {
        "object-curly-spacing": ["error", "always"],
        "dot-location": ["error", "object"],
        "no-underscore-dangle": 0
    }
}
